/node_modules
/public
/public/css/app.css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.qa
.env.backup
.envold
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.json
/old_*
